<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Init</title>
</head>
<body>
    <h1>Inicializar un usuario</h1>
    <form action="/api/init/" method="POST">
        <label for="token">Token:</label><br>
        <input type="token" id="token" name="token" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Inicializar">
    </form>
</body>
</html>
